@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,366;1,366&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;




body,button,input{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 366;
  font-style: normal;
}